/*
.navbar-default {
  background-color: #222087;
  border-color: #222087;
}
.navbar-default .navbar-brand {
  color: #d0d2d2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d0d2d2;
}
.navbar-default .navbar-nav > li > a {
  color: #d0d2d2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d0d2d2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d0d2d2;
}
.navbar-default .navbar-link {
  color: #d0d2d2;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d0d2d2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #c0392b;
  }
}
*/

.navbar-nav
{
    max-height:50px;
}

#errorModal
{
    display:none;
    color:white;
    background-color:gray;
    padding-left:5px;
    padding-top:5px;
    border-radius: 3px;
    top:60%;
    z-index:400;
    left:50%;
    margin-left:-100px;
    width:200px;
    position: absolute;

}

